* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 350px;
  height: 450px;
  background-color: pink;
  border-radius: 10px;
  padding: 20px;
}
.card img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
}
.card h1 {
  text-align: center;
  margin-top: 15px;
  font-family: sans-serif;

}
.card i {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all ease 0.5s;
  transform: translate(-50%, -50%) scale(0) rotate(-180deg);
  font-size: 80px;
  background-image: url("https://imgs.search.brave.com/hoVMSUPMXqRmgy5g37AkbYq0O8HB_mdBFMjMyVBmIYQ/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS12ZWN0b3Iv/aW5zdGFncmFtLWJh/Y2tncm91bmQtZ3Jh/ZGllbnQtY29sb3Jz/XzIzLTIxNDc4MzUx/MjcuanBnP3NlbXQ9/YWlzX2luY29taW5n/Jnc9NzQwJnE9ODA");
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  color: transparent;
}