*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
main{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, rgb(26,26,26), rgb(30,30,30) , black);
}
section{
    height: 100%;
    width: 400px;
    background-color: black;
    border-radius: 10px;
    margin: auto;

}
.all-reels{
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
}
.reel{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: lightseagreen;
}
.reel .main-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.reel .bottom{
    padding: 30px 20px;
    background:linear-gradient(rgb(0,rgb(13, 12, 12)),black);
    width: 100%;
    position: absolute;
    bottom: 0;
    
}
.bottom .user{
    display: flex;
    align-items: center;
    gap: 10px;
}

.bottom .user img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}
.bottom .user h4{
    color: white;
    font-weight: 500;

}
.bottom .user button{
    padding: 5px 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid gainsboro;
    border-radius: 5px;
    cursor: pointer;
}
.right{
    width: 40px;
    position: absolute;
    right: 0;
    bottom: 10%;
    transform: translateX(100%);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 20px;
    background:linear-gradient(rgb(0,rgb(13, 12, 12)),black);
    text-align: center;
}

.right .icon{
    font-size: 25px;
    cursor: pointer;
}

.right h6{
    font-size: 15px;
    font-weight: 500;
}

.right>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}