* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}
.card {
  width: 300px;
  height: 300px;
  background-color: blanchedalmond;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.predict {
  width: 100px;
  height: 50px;
  background-color: #0081E9;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: white;
  transition: all 0.3s ease;

}
.predict:active {
    scale: .90;
}